{%extends 'base.html'%}
{%import 'bootstrap/wtf.html' as wtf%}
{%block content%}
		{%import '_paginate.html' as macros%}
			<div class="container">	
				<div class="col-lg-3"></div>
				<div class="col-lg-6">
						<div >

								<p class="text-left">{{get_author_name(post.author_id)}}</p>	
								<p class="text-right">	{{post.post_time}}</p>
								<h1>{{post.title}}</h1>
								<h3>	{{post.post|safe}}</h3>
								<hr>
								<p>	comments:</p>
								{%for comment in comments%}
										
										<p>{{get_author_name(comment.author_id)}}: {{comment.comment}}</p><br>
								{%endfor%}<br>
								
								{{macros.render_pagination(paginate, 'forum.post', post.id)}}
								<form method='post'>
									{{wtf.quick_form(form)}}
								</form>
						</div>
				</div>
				<div class="col-lg-3"></div>
			</div>
{%endblock%}