<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Stoya</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style> 		
	</style>
</head>
<body>
<div>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
	<div class='col-md-3'></div>
	<div class="col-md-6">
		<h1>Welcome {{user}}:</h1>
		<p>Before you can access all the functions on our web, please click the link
			below to confirm your email address</p>
			<a href="{{link}}">{{link}}</a>
	</div>
	<div class="col-md-3"></div>
</div>
</body>
</html>